; Default .skicka.config file. See 
; https://github.com/google/skicka/blob/master/README.md for more
; information about setting up skicka.
[google]
    ;Override the default application client id used by skicka.
	clientid=replace_clientid
	clientsecret="replace_clientsecret"
    ;An API key may optionally be provided.
    apikey="replace_apikey"
[encryption]
        ; Run 'skicka genkey' to generate an encyption key.
	;salt=
	;passphrase-hash=
	;encrypted-key=
	;encrypted-key-iv=
[upload]
	; You may want to specify regular expressions to match local filenames
	; that you want to be ignored by 'skicka upload'. Use one ignored-regexp
        ; line for each such regular expression.
	;ignored-regexp="\\.o$"
	;ignored-regexp=~$
	;ignored-regexp="\\._"
	;ignored-regexp="RECYCLE\\.BIN"
	;ignored-regexp="Thumbs\\.db$"
	;ignored-regexp="\\.git"
	;ignored-regexp="\\.(mp3|wma|aiff)$"
	;ignored-regexp="\\.~lock\\..*$"
	;ignored-regexp="~\\$"
	;ignored-regexp="\\.DS_Store$"
    	;ignored-regexp="desktop.ini"

	;
	; To limit upload bandwidth, you can set the maximum (average)
	; bytes per second that will be used for uploads
	;bytes-per-second-limit=524288  ; 512kB
